<div class="widgets-post-carausel-1 mb-60">
    <div class="container">
        <div class="post-carausel-1 border-radius-10 bg-white">
            <div class="row no-gutters">
                <div class="col col-1-5 background6 editor-picked-left d-none d-lg-block">
                    <div class="editor-picked">
                        <h4>Editor's Picked</h4>
                        <p class="font-medium color-grey mt-20 mb-30">The featured articles are selected by experienced editors. It is also based on the reader's rating. These posts have a lot of interest.</p>
                        <a href="single.html" class="read-more">Read More</a>
                        <div class="post-carausel-1-arrow"></div>
                    </div>
                </div>
                <div class="col col-4-5 col-md-12">
                    <div class="post-carausel-1-items row">
                        <div class="slider-single col">
                            <h6 class="post-title pr-5 pl-5 mb-10 text-limit-2-row"><a href="single.html">The Writer’s Dilemma — For Money or Love of the Game?</a></h6>
                            <div class="img-hover-scale border-radius-5 hover-box-shadow">
                                <span class="top-right-icon background2">
                                    <i class="mdi mdi-audiotrack"></i>
                                </span>
                                <a href="single.html"><img class="border-radius-5" src="assets/imgs/thumbnail-9.jpg" alt="post-slider"></a>
                            </div>
                            <div class="entry-meta meta-1 font-small color-grey mt-10 pr-5 pl-5">
                                <span class="post-on">02 Jan</span>
                                <span class="hit-count has-dot">23k Views</span>
                                <a class="float-right" href="#"><i class="ti-heart"></i></a>
                            </div>
                        </div>
                        <!--end slider single-->
                        <div class="slider-single col">
                            <h6 class="post-title pr-5 pl-5 mb-10 text-limit-2-row"><a href="single.html">Conceptual Art: A Beginner’s Guide</a></h6>
                            <div class="img-hover-scale border-radius-5 hover-box-shadow">
                                <a href="single.html"><img class="border-radius-5" src="assets/imgs/thumbnail-3.jpg" alt="post-slider"></a>
                            </div>
                            <div class="entry-meta meta-1 font-small color-grey mt-10 pr-5 pl-5">
                                <span class="post-on">14 Feb</span>
                                <span class="hit-count has-dot">59k Views</span>
                                <a class="float-right" href="#"><i class="ti-heart"></i></a>
                            </div>
                        </div>
                        <!--end slider single-->
                        <div class="slider-single col">
                            <h6 class="post-title pr-5 pl-5 mb-10 text-limit-2-row"><a href="single.html">One of the All-Time Cartooning Greats</a></h6>
                            <div class="img-hover-scale border-radius-5 hover-box-shadow">
                                <span class="top-right-icon background10">
                                    <i class="mdi mdi-camera-alt"></i>
                                </span>
                                <a href="single.html">
                                    <img class="border-radius-5" src="assets/imgs/thumbnail-4.jpg" alt="post-slider">
                                </a>
                            </div>
                            <div class="entry-meta meta-1 font-small color-grey mt-10 pr-5 pl-5">
                                <span class="post-on">25 Feb</span>
                                <span class="hit-count has-dot">72k Views</span>
                                <a class="float-right" href="#"><i class="ti-heart"></i></a>
                            </div>
                        </div>
                        <!--end slider single-->
                        <div class="slider-single col">
                            <h6 class="post-title pr-5 pl-5 mb-10 text-limit-2-row"><a href="single.html">9 Things I Love About Shaving My Head During Quarantine</a></h6>
                            <div class="img-hover-scale border-radius-5 hover-box-shadow">
                                <a href="single.html"><img class="border-radius-5" src="assets/imgs/thumbnail-5.jpg" alt="post-slider"></a>
                            </div>
                            <div class="entry-meta meta-1 font-small color-grey mt-10 pr-5 pl-5">
                                <span class="post-on">15 May</span>
                                <span class="hit-count has-dot">159k Views</span>
                                <a class="float-right" href="#"><i class="ti-heart"></i></a>
                            </div>
                        </div>
                        <!--end slider single-->
                        <div class="slider-single col">
                            <h6 class="post-title pr-5 pl-5 mb-10 text-limit-2-row"><a href="single.html">Could He Still Love Me Without My Eating Disorder?</a></h6>
                            <div class="img-hover-scale border-radius-5 hover-box-shadow">
                                <span class="top-right-icon background3">
                                    <i class="mdi mdi-videocam"></i>
                                </span>
                                <a href="single.html"><img class="border-radius-5" src="assets/imgs/thumbnail-6.jpg" alt="post-slider"></a>
                            </div>
                            <div class="entry-meta meta-1 font-small color-grey mt-10 pr-5 pl-5">
                                <span class="post-on">05 April</span>
                                <span class="hit-count has-dot">35k Views</span>
                                <a class="float-right" href="#"><i class="ti-heart"></i></a>
                            </div>
                        </div>
                        <!--end slider single-->
                        <div class="slider-single col">
                            <h6 class="post-title pr-5 pl-5 mb-10 text-limit-2-row"><a href="single.html">The Quiet Prejudice of ‘You Are Not Fat, You Have Fat’</a></h6>
                            <div class="img-hover-scale border-radius-5 hover-box-shadow">
                                <a href="single.html"><img class="border-radius-5" src="assets/imgs/thumbnail-7.jpg" alt="post-slider"></a>
                            </div>
                            <div class="entry-meta meta-1 font-small color-grey mt-10 pr-5 pl-5">
                                <span class="post-on">14 April</span>
                                <span class="hit-count has-dot">30k Views</span>
                                <a class="float-right" href="#"><i class="ti-heart"></i></a>
                            </div>
                        </div>
                        <!--end slider single-->
                        <div class="slider-single col">
                            <h6 class="post-title pr-5 pl-5 mb-10 text-limit-2-row">
                                <a href="single.html">Take The Damn Body Compliments</a></h6>
                            <div class="img-hover-scale border-radius-5 hover-box-shadow">
                                <a href="single.html">
                                    <img class="border-radius-5" src="assets/imgs/thumbnail-8.jpg" alt="post-slider"></a>
                            </div>
                            <div class="entry-meta meta-1 font-small color-grey mt-10 pr-5 pl-5">
                                <span class="post-on">25 April</span>
                                <span class="hit-count has-dot">26k Views</span>
                                <a class="float-right" href="#"><i class="ti-heart"></i></a>
                            </div>
                        </div>
                        <!--end slider single-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>