<div class="home-featured">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 pl-0 pr-0">
                <div class="featured-slider-2">
                    <div class="featured-slider-2-items">
                        <div class="slider-single">
                            <div class="post-thumb position-relative">
                                <div class="thumb-overlay position-relative" style="background-image: url(assets/imgs/big-slider-1.jpg)">
                                    <div class="post-content-overlay">
                                        <div class="container">                                                    
                                            <div class="entry-meta meta-0 font-small mb-10">
                                                <a href="category.html" tabindex="0"><span class="post-cat background2 color-white">Travel</span></a>
                                            </div>
                                            <h1 class="post-title mt-20 mb-15">
                                                <a class="color-white" href="single.html" tabindex="0">Plaschke: Oregon quarterback Justin Herbert is great pick for the Chargers</a>
                                            </h1>
                                            <div class="entry-meta meta-1 font-small color-white mt-15 mb-15">
                                                <span class="post-on"><i class="ti-marker-alt"></i>5 January 2020</span>
                                                <span class="time-reading"><i class="ti-timer"></i>12 mins read</span>
                                                <span class="hit-count"><i class="ti-bolt"></i> 169k Views</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slider-single">
                            <div class="post-thumb position-relative">
                                <div class="thumb-overlay position-relative" style="background-image: url(assets/imgs/big-slider-2.jpg)">
                                    <div class="post-content-overlay">
                                        <div class="container">                                                    
                                            <div class="entry-meta meta-0 font-small mb-10">
                                                <a href="category.html" tabindex="0"><span class="post-cat background2 color-white">World</span></a>
                                            </div>
                                            <h2 class="post-title mt-20 mb-15">
                                                <a class="color-white" href="single.html" tabindex="0">Federal judge blocks California’s ammunition purchase law</a>
                                            </h2>
                                            <div class="entry-meta meta-1 font-small color-white mt-15 mb-15">
                                                <span class="post-on"><i class="ti-marker-alt"></i>25 April 2020</span>
                                                <span class="time-reading"><i class="ti-timer"></i>10 mins read</span>
                                                <span class="hit-count"><i class="ti-bolt"></i> 159k Views</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slider-single">
                            <div class="post-thumb position-relative">
                                <div class="thumb-overlay position-relative" style="background-image: url(assets/imgs/big-slider-3.jpg)">
                                    <div class="post-content-overlay">
                                        <div class="container">                                                    
                                            <div class="entry-meta meta-0 font-small mb-10">
                                                <a href="category.html" tabindex="0"><span class="post-cat background2 color-white">Travel</span></a>
                                            </div>
                                            <h2 class="post-title mt-20 mb-15">
                                                <a class="color-white" href="single.html" tabindex="0">As a dying Salton Sea spews harmful dust, Imperial Valley water wars heat up again</a>
                                            </h2>
                                            <div class="entry-meta meta-1 font-small color-white mt-15 mb-15">
                                                <span class="post-on"><i class="ti-marker-alt"></i>25 April 2020</span>
                                                <span class="time-reading"><i class="ti-timer"></i>10 mins read</span>
                                                <span class="hit-count"><i class="ti-bolt"></i> 159k Views</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slider-single">
                            <div class="post-thumb position-relative">
                                <div class="thumb-overlay position-relative" style="background-image: url(assets/imgs/big-slider-4.jpg)">
                                    <div class="post-content-overlay">
                                        <div class="container">                                                    
                                            <div class="entry-meta meta-0 font-small mb-10">
                                                <a href="category.html" tabindex="0"><span class="post-cat background2 color-white">Travel</span></a>
                                            </div>
                                            <h2 class="post-title mt-20 mb-15">
                                                <a class="color-white" href="single.html" tabindex="0">Joe Biden campaign rejects comedian Louis C.K.'s $2,800 donation</a>
                                            </h2>
                                            <div class="entry-meta meta-1 font-small color-white mt-15 mb-15">
                                                <span class="post-on"><i class="ti-marker-alt"></i>25 April 2020</span>
                                                <span class="time-reading"><i class="ti-timer"></i>10 mins read</span>
                                                <span class="hit-count"><i class="ti-bolt"></i> 159k Views</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slider-single">
                            <div class="post-thumb position-relative">
                                <div class="thumb-overlay position-relative" style="background-image: url(assets/imgs/big-slider-5.jpg)">
                                    <div class="post-content-overlay">
                                        <div class="container">                                                    
                                            <div class="entry-meta meta-0 font-small mb-10">
                                                <a href="category.html" tabindex="0"><span class="post-cat background2 color-white">Travel</span></a>
                                            </div>
                                            <h2 class="post-title mt-20 mb-15">
                                                <a class="color-white" href="single.html" tabindex="0">Their beautifully curated vintage-book pop-ups were thriving</a>
                                            </h2>
                                            <div class="entry-meta meta-1 font-small color-white mt-15 mb-15">
                                                <span class="post-on"><i class="ti-marker-alt"></i>25 April 2020</span>
                                                <span class="time-reading"><i class="ti-timer"></i>10 mins read</span>
                                                <span class="hit-count"><i class="ti-bolt"></i> 159k Views</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container position-relative">
                        <div class="arrow-cover color-white"></div>
                        <div class="featured-slider-2-nav-cover">                                    
                            <div class="featured-slider-2-nav">
                                <div class="slider-post-thumb mr-15 position-relative">
                                    <img class="border-radius-5 mb-15" src="assets/imgs/thumbnail-1.jpg" alt="">                                               
                                    <span class="top-right-icon background10">
                                        <i class="mdi mdi-camera-alt"></i>
                                    </span>
                                </div>
                                <div class="slider-post-thumb mr-15 position-relative">
                                    <img class="border-radius-5 mb-15" src="assets/imgs/thumbnail-2.jpg" alt="">                                               
                                </div>
                                <div class="slider-post-thumb mr-15 position-relative">
                                    <img class="border-radius-5 mb-15" src="assets/imgs/thumbnail-3.jpg" alt="">
                                </div>
                                <div class="slider-post-thumb mr-15 position-relative">
                                    <img class="border-radius-5 mb-15" src="assets/imgs/thumbnail-4.jpg" alt="">
                                </div>
                                <div class="slider-post-thumb mr-15 position-relative">
                                    <img class="border-radius-5 mb-15" src="assets/imgs/thumbnail-5.jpg" alt="">
                                </div>                                  
                            </div>
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>
    </div>
</div>