<!-- Header -->
<header class="main-header header-style-2">
    <div class="top-bar background-white d-none d-md-block">
        <div class="container">
            <div class="topbar-inner pt-10 pb-10">
                <div class="row">
                    <div class="col-6">
                        <div class="language d-inline-block font-small">
                            <div id="langMenuDropdow" class="dropdown-menu dropdown-menu-left" aria-labelledby="langMenu">
                                <a class="dropdown-item" href="#">Français</a>
                                <a class="dropdown-item" href="#">English</a>
                                <a class="dropdown-item" href="#">Deutsch</a>
                                <a class="dropdown-item" href="#">РУССКИЙ</a>
                            </div>
                            <a class="dropdown-toggle" href="#" role="button" id="langMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="ti-world mr-5"></i>
                                <span>EN</span>
                            </a>
                        </div>
                        <div id="datetime" class="d-inline-block">
                            <ul>
                                <li><span class="font-small"><i class="wi wi-day-cloudy mr-5"></i>34ºc, Sunny. <a class="active" href="#">London</a></span></li>
                                <li><span class="font-small"><i class="ti-calendar mr-5"></i>Monday, April 6, 2020</span></li>
                                <li><a class="active" href="#"><span class="font-small"><i class="ti-book mr-5"></i>Read Today’s Paper</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-6 text-right">
                        <ul class="header-social-network d-inline-block list-inline">
                            <li class="list-inline-item"><a class="social-icon facebook-icon text-xs-center" target="_blank" href="#"><i class="ti-facebook"></i></a></li>
                            <li class="list-inline-item"><a class="social-icon twitter-icon text-xs-center" target="_blank" href="#"><i class="ti-twitter-alt"></i></a></li>
                            <li class="list-inline-item"><a class="social-icon pinterest-icon text-xs-center" target="_blank" href="#"><i class="ti-pinterest"></i></a></li>
                            <li class="list-inline-item"><a class="social-icon instagram-icon text-xs-center" target="_blank" href="#"><i class="ti-instagram"></i></a></li>
                        </ul>
                        <div class="vline-space d-inline-block"></div>
                        <div class="user-account d-inline-block font-small">
                            <a class="dropdown-toggle" href="#" role="button" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="ti-user"></i>
                                <span>Account</span>
                            </a>
                            <div id="userMenuDropdow" class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                                <a class="dropdown-item" href="#"><i class="ti-pencil-alt"></i>Edit Profile</a>
                                <a class="dropdown-item" href="#"><i class="ti-settings"></i>Account Settings</a>
                                <a class="dropdown-item" href="#"><i class="ti-stats-up"></i>Your Dashboard</a>
                                <a class="dropdown-item" href="#"><i class="ti-heart"></i>Your Favorites</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="login.html"><i class="ti-share"></i>Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End top bar-->

    <div class="header-bottom header-sticky background-white text-center">
        <div class="mobile_menu d-lg-none d-block"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-2 d-none d-lg-block">
                    <div class="header-logo">
                        <a href="index.html">
                            <img class="logo-img d-inline" src="assets/imgs/logo-2.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-10 col-md-12">                            
                    <div class="logo-tablet d-md-inline d-lg-none d-none">
                        <a href="index.html">
                            <img class="logo-img d-inline" src="assets/imgs/logo-tablet.png" alt="">
                        </a>
                    </div>
                    <div class="logo-mobile d-inline d-md-none">
                        <a href="index.html">
                            <img class="logo-img d-inline" src="assets/imgs/logo-mobile.png" alt="">
                        </a>
                    </div>

                    <!-- Main-menu -->
                    <div class="main-nav text-left d-none d-lg-block">
                        <nav>
                            <ul id="navigation" class="main-menu">
                                <li class="menu-item-has-children">
                                    <a href="index.html">Home</a>
                                    <ul class="sub-menu">
                                        <li><a href="index.html">Home default</a></li>
                                        <li><a href="home-2.html">Homepage 2</a></li>
                                        <li><a href="home-3.html">Homepage 3</a></li>
                                    </ul>
                                </li>
                                
                                <!-- Mega menu -->
                                {% include mega__menu.html %}
                                <!-- End Mega menu-->

                                <li><a href="about.html">About</a></li>
                                <li class="menu-item-has-children">
                                    <a href="category.html">Category</a>
                                    <ul class="sub-menu">
                                        <li><a href="category.html">List</a></li>
                                        <li><a href="category-grid.html">Grid</a></li>
                                        <li><a href="category-metro.html">Metro</a></li>
                                        <li><a href="category-big.html">Big</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="single.html">Posts</a>
                                    <ul class="sub-menu">
                                        <li><a href="single.html">Layout 1</a></li>
                                        <li><a href="single-2.html">Layout 2</a></li>
                                        <li><a href="single-3.html">Layout 3</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><a href="#">Pages</a>
                                    <ul class="sub-menu">
                                        <li><a href="404.html">404</a></li>
                                        <li><a href="author.html">Author</a></li>
                                        <li><a href="search.html">Search</a></li>
                                    </ul>
                                </li>                                        
                                <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                    
                    <!-- Off canvas -->
                    <div class="off-canvas-toggle-cover">
                        <div class="off-canvas-toggle hidden d-inline-block ml-15" id="off-canvas-toggle">
                            <span></span>
                            <p class="font-small d-none d-md-inline">All Sections</p>
                        </div>
                    </div>
                    <!-- Search -->
                    <div class="search-button">
                        <button class="search-icon"><i class="ti-search"></i></button>
                        <span class="search-close float-right font-small"><i class="ti-close mr-5"></i>CLOSE</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>
<!-- End Header -->