<div class="recent-area pt-50 pb-50 background12">
    <div class="container">
        <div class="row">
            <!--Editor's Picked Start-->
            {% include editors__picked__posts.html %}
            <!--Editor's Picked End-->
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="widget-header position-relative mb-30">
                    <h5 class="widget-title mb-30 text-uppercase color1 font-weight-ultra">Recent Posts</h5>
                    <div class="letter-background">Latest</div>
                </div>
                <div class="loop-list">
                    <article class="row mb-50">
                        <div class="col-md-6">
                            <div class="post-thumb position-relative thumb-overlay mr-20">
                                <div class="img-hover-slide border-radius-5 position-relative" style="background-image: url(assets/imgs/news-11.jpg)">
                                    <a class="img-link" href="single.html"></a>
                                    <span class="top-right-icon background8"><i class="mdi mdi-flash-on"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 align-center-vertical">
                            <div class="post-content">
                                <div class="entry-meta meta-0 font-small mb-15"><a href="category.html"><span class="post-cat background2 color-white">Fashion</span></a></div>
                                <h4 class="post-title">
                                    <a href="single.html">The World Caters to Average People and Mediocre Lifestyles</a>
                                </h4>
                                <div class="entry-meta meta-1 font-small color-grey mt-15 mb-15">
                                    <span class="post-on"><i class="ti-marker-alt"></i>25 April 2020</span>
                                    <span class="time-reading"><i class="ti-timer"></i>10 mins read</span>
                                    <span class="hit-count"><i class="ti-bolt"></i> 159k Views</span>
                                </div>
                                <p class="font-medium">These people envy me for having a lifestyle they don’t have, but the truth is, sometimes I envy their lifestyle instead. Struggling to sell one multi-million dollar home currently.</p>
                                <a class="readmore-btn font-small text-uppercase font-weight-ultra" href="single.html">Read More<i class="ti-arrow-right ml-5"></i></a>
                            </div>
                        </div>
                    </article>
                    <article class="row mb-50">
                        <div class="col-md-6">
                            <div class="post-thumb position-relative thumb-overlay mr-20">
                                <div class="img-hover-slide border-radius-5 position-relative" style="background-image: url(assets/imgs/news-12.jpg)">
                                    <a class="img-link" href="single.html"></a>
                                    <span class="top-right-icon background5"><i class="mdi mdi-favorite"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 align-center-vertical">
                            <div class="post-content">
                                <div class="entry-meta meta-0 font-small mb-15"><a href="category.html"><span class="post-cat background3 color-white">Technology</span></a></div>
                                <h4 class="post-title">
                                    <a href="single.html">Why Teamwork Really Makes The Dream Work</a>
                                </h4>
                                <div class="entry-meta meta-1 font-small color-grey mt-15 mb-15">
                                    <span class="post-on"><i class="ti-marker-alt"></i>25 April 2020</span>
                                    <span class="time-reading"><i class="ti-timer"></i>10 mins read</span>
                                    <span class="hit-count"><i class="ti-bolt"></i> 159k Views</span>
                                </div>
                                <p class="font-medium">We live in a world where disruption and dynamism reign supreme and businesses must be ready to adapt to the many unpredictable changes that come with this.</p>
                                <a class="readmore-btn font-small text-uppercase font-weight-ultra" href="single.html">Read More<i class="ti-arrow-right ml-5"></i></a>
                            </div>
                        </div>
                    </article>
                    <article class="row mb-50">
                        <div class="col-md-6">
                            <div class="post-thumb position-relative thumb-overlay mr-20">
                                <div class="img-hover-slide border-radius-5 position-relative" style="background-image: url(assets/imgs/news-13.jpg)">
                                    <a class="img-link" href="single.html"></a>
                                    <span class="top-right-icon background2"><i class="mdi mdi-audiotrack"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 align-center-vertical">
                            <div class="post-content">
                                <div class="entry-meta meta-0 font-small mb-15"><a href="category.html"><span class="post-cat background1 color-white">Sport</span></a></div>
                                <h4 class="post-title">
                                    <a href="single.html">9 Things I Love About Shaving My Head During Quarantine</a>
                                </h4>
                                <div class="entry-meta meta-1 font-small color-grey mt-15 mb-15">
                                    <span class="post-on"><i class="ti-marker-alt"></i>25 April 2020</span>
                                    <span class="time-reading"><i class="ti-timer"></i>10 mins read</span>
                                    <span class="hit-count"><i class="ti-bolt"></i> 159k Views</span>
                                </div>
                                <p class="font-medium">At the Emmys, broadcast scripted shows created by people of color gained ground relative to those pitched by White show creators, while broadcast scripted shows.</p>
                                <a class="readmore-btn font-small text-uppercase font-weight-ultra" href="single.html">Read More<i class="ti-arrow-right ml-5"></i></a>
                            </div>
                        </div>
                    </article>
                </div>
                <!--Start pagination -->
                <div class="pagination-area pt-30 text-center bt-1 border-color-1">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="single-wrap d-flex justify-content-center">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination justify-content-start">
                                            <li class="page-item"><a class="page-link" href="#"><i class="flaticon-left"></i> </a></li>
                                            <li class="page-item active"><a class="page-link" href="#">01</a></li>
                                            <li class="page-item"><a class="page-link" href="#">02</a></li>
                                            <li class="page-item"><a class="page-link" href="#">03</a></li>
                                            <li class="page-item"><a class="page-link" href="#"><i class="flaticon-right"></i> </a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End pagination  -->
            </div>
            <div class="col-lg-4 col-md-12">
                <!-- Widget Area -->
                {% include widget__area__home.html %}
                <!-- Widget Area -->
            </div>
        </div>
    </div>
</div>