<div class="sidebar-widget widget-taber mb-30">
    <div class="widget-taber-content background-white pt-30 pb-30 pl-30 pr-30 border-radius-5">
        <nav class="tab-nav float-none mb-20">
            <div class="nav nav-tabs" role="tablist">
                <a class="nav-item nav-link active" id="nav-popular-tab" data-toggle="tab" href="#nav-popular" role="tab" aria-controls="nav-popular" aria-selected="true">Popular</a>
                <a class="nav-item nav-link" id="nav-trending-tab" data-toggle="tab" href="#nav-trending" role="tab" aria-controls="nav-trending" aria-selected="false">Trending</a>
                <a class="nav-item nav-link" id="nav-comment-tab" data-toggle="tab" href="#nav-comment" role="tab" aria-controls="nav-comment" aria-selected="false">Comments</a>
            </div>
        </nav>
        <div class="tab-content">
            <!--Tab Popular-->
            <div class="tab-pane fade show active" id="nav-popular" role="tabpanel" aria-labelledby="nav-popular-tab">
                <div class="post-block-list post-module-1">
                    <ul class="list-post">
                        <li class="mb-30">
                            <div class="d-flex">
                                <div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
                                    <a href="single.html">
                                        <img src="assets/imgs/thumbnail-1.jpg" alt="">
                                    </a>
                                </div>
                                <div class="post-content media-body">
                                    <div class="entry-meta meta-0 mb-10">
                                        <a href="category.html"><span class="post-in background5 color-white font-small">World</span></a>
                                    </div>
                                    <h6 class="post-title mb-10 text-limit-2-row">Traveling Tends to Magnify All Human Emotions</h6>
                                    <div class="entry-meta meta-1 font-x-small color-grey">
                                        <span class="post-on">25 April</span>
                                        <span class="hit-count has-dot">26k Views</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="mb-30">
                            <div class="d-flex">
                                <div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
                                    <a href="single.html">
                                        <img src="assets/imgs/thumbnail-2.jpg" alt="">
                                    </a>
                                </div>
                                <div class="post-content media-body">
                                    <div class="entry-meta meta-0 mb-10">
                                        <a href="category.html"><span class="post-in background7 color-white font-small">Films</span></a>
                                    </div>
                                    <h6 class="post-title mb-10 text-limit-2-row">The Luxury Of Traveling With Yacht</h6>
                                    <div class="entry-meta meta-1 font-x-small color-grey mt-10">
                                        <span class="post-on">25 April</span>
                                        <span class="hit-count has-dot">37k Views</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="mb-30">
                            <div class="d-flex">
                                <div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
                                    <a href="single.html">
                                        <img src="assets/imgs/thumbnail-3.jpg" alt="">
                                    </a>
                                </div>
                                <div class="post-content media-body">
                                    <div class="entry-meta meta-0 mb-10">
                                        <a href="category.html"><span class="post-in background2 color-white font-small">Travel</span></a>
                                    </div>
                                    <h6 class="post-title mb-10 text-limit-2-row">Last Minute Festive Packages From Superbreak</h6>
                                    <div class="entry-meta meta-1 font-x-small color-grey mt-10">
                                        <span class="post-on">25 April</span>
                                        <span class="hit-count has-dot">54k Views</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex">
                                <div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
                                    <a href="single.html">
                                        <img src="assets/imgs/thumbnail-4.jpg" alt="">
                                    </a>
                                </div>
                                <div class="post-content media-body">
                                    <div class="entry-meta meta-0 mb-10">
                                        <a href="category.html"><span class="post-in background3 color-white font-small">Beauty</span></a>
                                    </div>
                                    <h6 class="post-title mb-10 text-limit-2-row">Less Is More: Diving into Minimalism in Photography</h6>
                                    <div class="entry-meta meta-1 font-x-small color-grey mt-10">
                                        <span class="post-on">25 April</span>
                                        <span class="hit-count has-dot">126k Views</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--Tab Trending-->
            <div class="tab-pane fade" id="nav-trending" role="tabpanel" aria-labelledby="nav-trending-tab">
                <div class="row">
                    <div class="col-md-6 col-sm-6 sm-grid-content mb-30">
                        <div class="post-thumb d-flex border-radius-5 img-hover-scale mb-15">
                            <a href="single.html">
                                <img src="assets/imgs/news-1.jpg" alt="">
                            </a>
                        </div>
                        <div class="post-content media-body">
                            <h6 class="post-title mb-10 text-limit-2-row">The litigants on the screen are not actors </h6>
                            <div class="entry-meta meta-1 font-x-small color-grey">
                                <span class="post-on">25 April</span>
                                <span class="hit-count has-dot">126k Views</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 sm-grid-content mb-30">
                        <div class="post-thumb d-flex border-radius-5 img-hover-scale mb-15">
                            <a href="single.html">
                                <img src="assets/imgs/news-2.jpg" alt="">
                            </a>
                        </div>
                        <div class="post-content media-body">
                            <h6 class="post-title mb-10 text-limit-2-row">6 Ways to Instantly Improve your Ui Design.</h6>
                            <div class="entry-meta meta-1 font-x-small color-grey mt-10">
                                <span class="post-on">25 April</span>
                                <span class="hit-count has-dot">126k Views</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 sm-grid-content mb-30">
                        <div class="post-thumb d-flex border-radius-5 img-hover-scale mb-15">
                            <a href="single.html">
                                <img src="assets/imgs/news-3.jpg" alt="">
                            </a>
                        </div>
                        <div class="post-content media-body">
                            <h6 class="post-title mb-10 text-limit-2-row">Water Partners With Rag & Bone To Consume</h6>
                            <div class="entry-meta meta-1 font-x-small color-grey">
                                <span class="post-on">25 April</span>
                                <span class="hit-count has-dot">126k Views</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 sm-grid-content mb-30">
                        <div class="post-thumb d-flex border-radius-5 img-hover-scale mb-15">
                            <a href="single.html">
                                <img src="assets/imgs/news-4.jpg" alt="">
                            </a>
                        </div>
                        <div class="post-content media-body">
                            <h6 class="post-title mb-10 text-limit-2-row">The loss is not all that surprising</h6>
                            <div class="entry-meta meta-1 font-x-small color-grey mt-10">
                                <span class="post-on">25 April</span>
                                <span class="hit-count has-dot">126k Views</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 sm-grid-content">
                        <div class="post-thumb d-flex border-radius-5 img-hover-scale mb-15">
                            <a href="single.html">
                                <img src="assets/imgs/news-5.jpg" alt="">
                            </a>
                        </div>
                        <div class="post-content media-body">
                            <h6 class="post-title mb-10 text-limit-2-row">We got a right to pick a little fight, Bonanza </h6>
                            <div class="entry-meta meta-1 font-x-small color-grey mt-10">
                                <span class="post-on">25 April</span>
                                <span class="hit-count has-dot">126k Views</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 sm-grid-content">
                        <div class="post-thumb d-flex border-radius-5 img-hover-scale mb-15">
                            <a href="single.html">
                                <img src="assets/imgs/news-8.jpg" alt="">
                            </a>
                        </div>
                        <div class="post-content media-body">
                            <h6 class="post-title mb-10 text-limit-2-row">My entrance exam was on a book of matches </h6>
                            <div class="entry-meta meta-1 font-x-small color-grey mt-10">
                                <span class="post-on">25 April</span>
                                <span class="hit-count has-dot">126k Views</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Tab Comments-->
            <div class="tab-pane fade" id="nav-comment" role="tabpanel" aria-labelledby="nav-comment-tab">
                <div class="post-block-list post-module-1">
                    <ul class="list-post">
                        <li class="mb-30">
                            <div class="d-flex">
                                <div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
                                    <a href="single.html">
                                        <img src="assets/imgs/thumbnail-5.jpg" alt="">
                                    </a>
                                </div>
                                <div class="post-content media-body">
                                    <div class="entry-meta meta-0 mb-10">
                                        <a href="category.html"><span class="post-in background2 color-white font-small">World</span></a>
                                    </div>
                                    <h6 class="post-title mb-10 text-limit-2-row">Traveling Tends to Magnify All Human Emotions</h6>
                                    <div class="entry-meta meta-1 font-x-small color-grey">
                                        <span class="post-on">25 April</span>
                                        <span class="hit-count has-dot">26k Views</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="mb-30">
                            <div class="d-flex">
                                <div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
                                    <a href="single.html">
                                        <img src="assets/imgs/thumbnail-9.jpg" alt="">
                                    </a>
                                </div>
                                <div class="post-content media-body">
                                    <div class="entry-meta meta-0 mb-10">
                                        <a href="category.html"><span class="post-in background3 color-white font-small">Films</span></a>
                                    </div>
                                    <h6 class="post-title mb-10 text-limit-2-row">The Luxury Of Traveling With Yacht</h6>
                                    <div class="entry-meta meta-1 font-x-small color-grey mt-10">
                                        <span class="post-on">25 April</span>
                                        <span class="hit-count has-dot">37k Views</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="mb-30">
                            <div class="d-flex">
                                <div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
                                    <a href="single.html">
                                        <img src="assets/imgs/thumbnail-7.jpg" alt="">
                                    </a>
                                </div>
                                <div class="post-content media-body">
                                    <div class="entry-meta meta-0 mb-10">
                                        <a href="category.html"><span class="post-in background7 color-white font-small">Travel</span></a>
                                    </div>
                                    <h6 class="post-title mb-10 text-limit-2-row">Last Minute Festive Packages From Superbreak</h6>
                                    <div class="entry-meta meta-1 font-x-small color-grey mt-10">
                                        <span class="post-on">25 April</span>
                                        <span class="hit-count has-dot">54k Views</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex">
                                <div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
                                    <a href="single.html">
                                        <img src="assets/imgs/thumbnail-8.jpg" alt="">
                                    </a>
                                </div>
                                <div class="post-content media-body">
                                    <div class="entry-meta meta-0 mb-10">
                                        <a href="category.html"><span class="post-in background8 color-white font-small">Beauty</span></a>
                                    </div>
                                    <h6 class="post-title mb-10 text-limit-2-row">Less Is More: Diving into Minimalism in Photography</h6>
                                    <div class="entry-meta meta-1 font-x-small color-grey mt-10">
                                        <span class="post-on">25 April</span>
                                        <span class="hit-count has-dot">126k Views</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>