<div class="widget-area">
    <!-- Social Network -->
    <div class="sidebar-widget widget-social-network mb-30">
        <div class="widget-header position-relative mb-30">
            <h5 class="widget-title mt-5 mb-30">Follow Us</h5>
        </div>
        <div class="social-network">
            <div class="follow-us d-flex align-items-center">
                <a class="follow-us-facebook clearfix mr-5 mb-10" href="#" target="_blank">
                    <div class="social-icon">
                        <i class="ti-facebook mr-5 v-align-space"></i>
                        <i class="ti-facebook mr-5 v-align-space nth-2"></i>
                    </div>
                    <span class="social-name">Facebook</span>
                    <span class="social-count counter-number">65</span><span class="social-count">K</span>
                </a>
                <a class="follow-us-twitter clearfix ml-5 mb-10" href="#" target="_blank">
                    <div class="social-icon">
                        <i class="ti-twitter-alt mr-5 v-align-space"></i>
                        <i class="ti-twitter-alt mr-5 v-align-space nth-2"></i>
                    </div>
                    <span class="social-name">Twitter</span>
                    <span class="social-count counter-number">75</span><span class="social-count">K</span>
                </a>
            </div>
            <div class="follow-us d-flex align-items-center">
                <a class="follow-us-instagram clearfix mr-5" href="#" target="_blank">
                    <div class="social-icon">
                        <i class="ti-instagram mr-5 v-align-space"></i>
                        <i class="ti-instagram mr-5 v-align-space nth-2"></i>
                    </div>
                    <span class="social-name">Instagram</span>
                    <span class="social-count counter-number">32</span><span class="social-count">K</span>
                </a>
                <a class="follow-us-youtube clearfix ml-5" href="#" target="_blank">
                    <div class="social-icon">
                        <i class="ti-youtube mr-5 v-align-space"></i>
                        <i class="ti-youtube mr-5 v-align-space nth-2"></i>
                    </div>
                    <span class="social-name">Youtube</span>
                    <span class="social-count counter-number">28</span><span class="social-count">K</span>
                </a>
            </div>
        </div>
    </div>
    <!--taber-->
    {% include widget__area__taber.html %}
    <!-- End Taber -->
    
    <!-- Ads -->
    <div class="sidebar-widget widget-ads mb-30 text-center">
        <a href="https://vimeo.com/333834999" class="play-video" data-animate="zoomIn" data-duration="1.5s" data-delay="0.1s">
            <img class="d-inline-block" src="assets/imgs/ads-2.jpg" alt="">
        </a>
    </div>
</div>