<div class="video-area background_dark area-padding pt-50 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sidebar-widget">
                    <div class="widget-header position-relative mb-30">
                        <div class="row">
                            <div class="col-7">
                                <h5 class="widget-title text-uppercase color4 font-weight-ultra">LATEST VIDEOS</h5>
                                <div class="letter-background">IN MOTION</div>
                            </div>
                            <div class="col-5 text-right">
                                <h6 class="text-uppercase font-medium">
                                    <i class="ti-video-clapper color-white mr-5"></i>
                                    <a class="color-white" href="#">All Videos</a>
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="block-tab-item post-module-1 post-module-4 mt-50">
                        <div class="row">
                            <div class="col-lg-5 col-md-6">
                                <div class="post-thumb position-relative">
                                    <div class="thumb-overlay img-hover-slide border-radius-5 position-relative" style="background-image: url(assets/imgs/news-7.jpg)">
                                        <span class="top-right-icon background3"><i class="mdi mdi-favorite"></i></span>
                                        <a class="img-link" href="single.html"></a>
                                        <div class="post-content-overlay">
                                            <div class="entry-meta meta-0 font-small mb-20">
                                                <a href="category.html"><span class="post-cat background2 color-white">Travel</span></a>
                                            </div>
                                            <h2 class="post-title">
                                                <a class="color-white" href="single.html">Tesla’s Cooking Up A New Way To Wire Its Cars, Report Says</a>
                                            </h2>
                                            <div class="entry-meta meta-1 font-small color-grey mt-10 pr-5 pl-5">
                                                <span class="post-on">02 Jan</span>
                                                <span class="hit-count has-dot">23k Views</span>
                                                <a class="float-right" href="#"><i class="ti-heart"></i></a>
                                            </div>
                                        </div>
                                        <div class="play_btn">
                                            <a class="play-video" href="https://vimeo.com/333834999" data-animate="zoomIn" data-duration="1.5s" data-delay="0.1s">
                                                <i class="ti-control-play"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-6">
                                <div class="row">
                                    <div class="slider-single col-lg-4 col-md-6 mb-30">
                                        <div class="img-hover-scale border-radius-5">
                                            <span class="top-right-icon background10"><i class="mdi mdi-flash-on"></i></span>
                                            <a href="single.html">
                                                <img class="border-radius-5" src="assets/imgs/thumbnail-3.jpg" alt="post-slider">
                                            </a>
                                            <div class="play_btn play_btn_small">
                                                <a class="play-video" href="https://vimeo.com/333834999" data-animate="zoomIn" data-duration="1.5s" data-delay="0.1s">
                                                    <i class="ti-control-play"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <h6 class="post-title pr-5 pl-5 mb-10 mt-15 text-limit-2-row">
                                            <a class="color-white" href="single.html">3 Technology Basics You Reviewing Constantly.</a>
                                        </h6>
                                        <div class="entry-meta meta-1 font-small color-grey mt-10 pr-5 pl-5">
                                            <span class="post-on">03 Jan</span>
                                            <span class="hit-count has-dot">13k Views</span>
                                            <a class="float-right" href="#"><i class="ti-heart"></i></a>
                                        </div>
                                    </div>
                                    <div class="slider-single col-lg-4 col-md-6 mb-30">
                                        <div class="img-hover-scale border-radius-5">
                                            <a href="single.html">
                                                <img class="border-radius-5" src="assets/imgs/thumbnail-2.jpg" alt="post-slider">
                                            </a>
                                            <div class="play_btn play_btn_small">
                                                <a class="play-video" href="https://vimeo.com/333834999" data-animate="zoomIn" data-duration="1.5s" data-delay="0.1s">
                                                    <i class="ti-control-play"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <h6 class="post-title pr-5 pl-5 mb-10 mt-15 text-limit-2-row">
                                            <a class="color-white" href="single.html">Essential Qualities of Highly Successful Music.</a>
                                        </h6>
                                        <div class="entry-meta meta-1 font-small color-grey mt-10 pr-5 pl-5">
                                            <span class="post-on">02 May</span>
                                            <span class="hit-count has-dot">123k Views</span>
                                            <a class="float-right" href="#"><i class="ti-heart"></i></a>
                                        </div>
                                    </div>
                                    <div class="slider-single col-lg-4 col-md-6 mb-30">
                                        <div class="img-hover-scale border-radius-5">
                                            <a href="single.html">
                                                <img class="border-radius-5" src="assets/imgs/thumbnail-1.jpg" alt="post-slider">
                                            </a>
                                            <div class="play_btn play_btn_small">
                                                <a class="play-video" href="https://vimeo.com/333834999" data-animate="zoomIn" data-duration="1.5s" data-delay="0.1s">
                                                    <i class="ti-control-play"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <h6 class="post-title pr-5 pl-5 mb-10 mt-15 text-limit-2-row">
                                            <a class="color-white" href="single.html">Super Bowl LII Venue Know more about</a>
                                        </h6>
                                        <div class="entry-meta meta-1 font-small color-grey mt-10 pr-5 pl-5">
                                            <span class="post-on">02 Jan</span>
                                            <span class="hit-count has-dot">23k Views</span>
                                            <a class="float-right" href="#"><i class="ti-heart"></i></a>
                                        </div>
                                    </div>
                                    <div class="slider-single col-lg-4 col-md-6">
                                        <div class="img-hover-scale border-radius-5">
                                            <span class="top-right-icon background2">
                                                <i class="mdi mdi-audiotrack"></i>
                                            </span>
                                            <a href="single.html">
                                                <img class="border-radius-5" src="assets/imgs/thumbnail-9.jpg" alt="post-slider">
                                            </a>
                                            <div class="play_btn play_btn_small">
                                                <a class="play-video" href="https://vimeo.com/333834999" data-animate="zoomIn" data-duration="1.5s" data-delay="0.1s">
                                                    <i class="ti-control-play"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <h6 class="post-title pr-5 pl-5 mb-10 mt-15 text-limit-2-row">
                                            <a class="color-white" href="single.html">The loss is not all that surprising</a>
                                        </h6>
                                        <div class="entry-meta meta-1 font-small color-grey mt-10 pr-5 pl-5">
                                            <span class="post-on">02 Jan</span>
                                            <span class="hit-count has-dot">23k Views</span>
                                            <a class="float-right" href="#"><i class="ti-heart"></i></a>
                                        </div>
                                    </div>
                                    <div class="slider-single col-lg-4 col-md-6 d-none d-lg-block">
                                        <div class="img-hover-scale border-radius-5">
                                            <a href="single.html">
                                                <img class="border-radius-5" src="assets/imgs/thumbnail-11.jpg" alt="post-slider">
                                            </a>
                                            <div class="play_btn play_btn_small">
                                                <a class="play-video" href="https://vimeo.com/333834999" data-animate="zoomIn" data-duration="1.5s" data-delay="0.1s">
                                                    <i class="ti-control-play"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <h6 class="post-title pr-5 pl-5 mb-10 mt-15 text-limit-2-row">
                                            <a class="color-white" href="single.html">6 Ways to Instantly Improve your Ui Design.</a>
                                        </h6>
                                        <div class="entry-meta meta-1 font-small color-grey mt-10 pr-5 pl-5">
                                            <span class="post-on">02 Jan</span>
                                            <span class="hit-count has-dot">23k Views</span>
                                            <a class="float-right" href="#"><i class="ti-heart"></i></a>
                                        </div>
                                    </div>
                                    <div class="slider-single col-lg-4 col-md-6 d-none d-lg-block">
                                        <div class="img-hover-scale border-radius-5">
                                            <a href="single.html">
                                                <img class="border-radius-5" src="assets/imgs/thumbnail-12.jpg" alt="post-slider">
                                            </a>
                                            <div class="play_btn play_btn_small">
                                                <a class="play-video" href="https://vimeo.com/333834999" data-animate="zoomIn" data-duration="1.5s" data-delay="0.1s">
                                                    <i class="ti-control-play"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <h6 class="post-title pr-5 pl-5 mb-10 mt-15 text-limit-2-row">
                                            <a class="color-white" href="single.html">Water Partners With Rag & Bone To Consume</a>
                                        </h6>
                                        <div class="entry-meta meta-1 font-small color-grey mt-10 pr-5 pl-5">
                                            <span class="post-on">06 July</span>
                                            <span class="hit-count has-dot">23k Views</span>
                                            <a class="float-right" href="#"><i class="ti-heart"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>