backend:
  name: git-gateway
  branch: master

# when using the default proxy server port
local_backend: true



publish_mode: editorial_workflow
site_url: https://eroyx.tk
display_url: https://eroyx.tk
logo_url: https://eroyx.tk/assets/images/cms.png
media_folder: "assets/images"

collections:
  - label: "Authors"
    name: "authors"
    folder: "_authors"
    create: true
    identifier_field: "name"
    slug: "{{slug}}"
    delete: false
    editor:
      preview: false
      delete: false
    fields:
      - label: "Identifying Name"
        name: "name"
        widget: "string"
        required: true
        hint: "Use a code or name which is used to identify otherthan name.)"
      - label: "Display Name"
        name: "display_name"
        widget: "string"
        required: true
        hint: "Your Fullname."
      - label: "Avatar"
        name: "avatar"
        widget: "image"
        required: false
        hint: "Your Profile picture"
      - label: "E-mail"
        name: "email"
        widget: "string"
        required: false
        hint: "Ex: john@example.com"
      - label: "Website"
        name: "web"
        widget: "string"
        required: false
        hint: "Ex: johdoe.me"
      - label: "Facebook Username"
        name: "facebook"
        widget: "string"
        required: false
        hint: "Ex: john_doe"
      - label: "Instagram Username"
        name: "instagram"
        widget: "string"
        required: false
        hint: "Ex: john_doe"
      - label: "Whatsapp Number"
        name: "whatsapp"
        widget: "string"
        required: false
        hint: "Ex: john_doe"
      - label: "Twitter Username"
        name: "twitter"
        widget: "string"
        required: false
        hint: "Ex: john_doe"
      - label: "GitHub Username"
        name: "github"
        widget: "string"
        required: false
        hint: "Ex: johndoe4"
      - label: "About You"
        name: "body"
        widget: "markdown"
        required: false